*.gguf
bot/*
*.safetensors
*.onnx
memory/chatData*
memory/embedding/chatData*
memory/gemma/*
memory/all-mpnet-base-v2/*
unsloth_compiled_cache/*
memory/api_test_results*
test/*
audio.wav
chat_output.wav
chat_output_fast.wav
tts_queue/*
chat_output_final.wav
Qwen3-32B/*
Qwen32B*
STTS/outputs/*
STTS/checkpoints/*
STTS/data/*
STTS/__pycache__/*
index-tts
